name: Python CI

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: 22f2001382@ds.study.iitm.ac.in
        run: echo "Hello, world!"
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Cache dependencies
        id: cache-npm
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: cache-2581ea8

      - name: prime-cache-2581ea8
        run: echo "Cache hit? ${{ steps.cache-npm.outputs.cache-hit }}"
